# Gradle
out/
classes/
build/
.gradle/

# Eclipse
*.launch
.settings/
.classpath
.project

# IntelliJ / IDEA
.idea/
*.iml
*.ipr
*.iws

.vscode/

# NetBeans
nbproject/
nbbuild/
dist/
nbdist/

# macOS
.DS_Store

# Fabric Loom / dev runs
run/
remappedSrc/

# Logs / dumps
hs_err_pid*.log
replay_pid*.log
